# ==== Qt builds / resources ====
app/build/
app/qss
app/icons
release/
debug/
app/.qtc_clangd
Makefile
Makefile.debug
Makefile.release
*.pro.user
*.qmake.stash
*.qrc

# ==== Python ====
__pycache__/
*.py[cod]
py_backend/venv/
py_backend/.idea/

# ==== Logs ====
logs/
*.log

# ==== other ====
.idea/