# ==== Qt builds / resources ====
app/build/
app/qss
app/icons
release/
debug/
app/.qtc_clangd/
app/generic/
app/iconengines/
app/imageformats/
app/networkinformation/
app/platforms/
app/sqldrivers/
app/styles/
app/tls/
app/translations/
Makefile
Makefile.debug
Makefile.release
*.pro.user
*.qmake.stash
*.qrc
*.rc
*.dll

# ==== bin ====
app/*.exe

# ==== Python ====
*.pyc
__pycache__/
*.py[cod]
py_backend/venv/
py_backend/.idea/

# ==== Logs ====
logs/
*.log
*.json

# ==== other ====
.idea/
apikey.env
