# ==== Qt builds ====
app/build/
release/
debug/
*.pro.user
*.qmake.stash

# ==== Python ====
__pycache__/
*.py[cod]
py_backend/venv/
py_backend/.idea/

# ==== Logs ====
logs/
*.log

# ==== other ====
.idea/